.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  /*fill: #9F0E00;*/
}

.mesh {
  fill: none;
  /*stroke: #fff;*/
  
  stroke: #4D4D4D;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}