doctype html
html(lang='en')
  head
    title= title
    link(rel='shortcut icon' href='/images/airplane.png')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oxygen')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/map.css')
    script(type='type/javascript', src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js')
    script(type='type/javascript', src='//cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js')
  body
    div#primary-head
      //- div#head-text
      //-   h3.mayday-title MAYDAY
      div#dropdown-family
        div#dropdown1-group
          ul#dropdown1.dropdown-content
            li
              a(href='#!') Weekday
            li
              a(href='#!') Sunday
            li
              a(href='#!') Monday
            li
              a(href='#!') Tuesday
            li
              a(href='#!') Wednesday
            li
              a(href='#!') Thursday
            li
              a(href='#!') Friday
            li
              a(href='#!') Saturday
          a#weekday-dropdown.dropdown-button.btn(href='#!' data-activates='dropdown1') 
            span Weekdays
        div#dropdown2-group
          ul#dropdown2.dropdown-content
            li
              a(href='#!') Month
            li
              a(href='#!') January
            li
              a(href='#!') February
            li
              a(href='#!') March
            li
              a(href='#!') April
            li
              a(href='#!') May
            li
              a(href='#!') June
            li
              a(href='#!') July
            li
              a(href='#!') August
            li
              a(href='#!') September
            li
              a(href='#!') October
            li
              a(href='#!') November
            li
              a(href='#!') December
          a#month-dropdown.dropdown-button.btn(href='#!' data-activates='dropdown2')
            span Months
          //- h6.mayday-subtitle FAA Accident Visualization
        div#dropdown3-group
          ul#dropdown3.dropdown-content
          a#accident-type-dropdown.dropdown-button.btn(href='#!' data-activates='dropdown3') 
            span Accident Types
      form(action="#").heatmap-filters
        p.accidents-input
          input(name='heatmap', type='radio', id='accidents')
          label(for="accidents")
            | Accidents
        p.fatalities-input
          input(name='heatmap', type='radio', id='fatalities', checked)
          label(for="fatalities")
            | Fatalities
      form(action="#").select-view-filters
        p.mapview-input
          input(name='view', type='radio', id='mapview-view')
          label(for="mapview-view")
            | Geographic Map
        p.bargraph-input
          input(name='view', type='radio', id='bargraph-view', checked)
          label(for="bargraph-view")
            | Bargraph
      form(action="#").barchart-filters
        div
          p.total-hours-input
            input(name='barchart', type='radio', id='total-hours-flown', checked)
            label(for="total-hours-flown")
              | Total Hours Flown
          p.total-hours-ninety-input
            input(name='barchart', type='radio', id='total-hours-flown-ninety')
            label(for="total-hours-flown-ninety")
              | Total Hours Flown (Past 90 Days)
        div
          p.total-hours-make-input
            input(name='barchart', type='radio', id='total-hours-flown-make')
            label(for="total-hours-flown-make")
              | Total Hours Flown - Make/Model
          p.total-hours-ninety-make-input
            input(name='barchart', type='radio', id='total-hours-flown-ninety-make')
            label(for="total-hours-flown-ninety-make")
              | Total Hours Flown (Past 90 Days) - Make/Model
    div#side-button
      i.mdi-navigation-arrow-back  
    div.cd-panel.from-right
        div.cd-panel-container
          div.cd-panel-content
            div#remarks-box       
    div#heatmap-panel
    div#side-view
    //- div#slider
    div#context-slider
    //- script(type='text/javascript', src='/javascripts/minified/customslider.min.js')
    
    script.
      csv_path = "#{csv_path}"
      data_range = "#{years}"
    script(type='text/javascript', src='/javascripts/minified/sidebutton.min.js')
    //- script(type='text/javascript', src='/javascripts/minified/dashboard.min.js')
    script(type='text/javascript', src='/javascripts/barchart.js')
    script(type='text/javascript', src='/javascripts/map.js')
    script(type='text/javascript', src='/javascripts/collapsible.js')
    script(type='text/javascript', src='/javascripts/dashboard.js')
